* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
}

.navbar-container > ul {
    display: flex;
    list-style: none;
}

.navbar-container > ul > li {
    text-transform: uppercase;
    margin-right: 40px;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
    opacity: 50%;
    transition: opacity 0.9s;
    cursor: pointer;
}

.navbar-container > ul > li:hover {
    opacity: 100%;
    color: #eee;
}

/* Showcase */
.showcase-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-image: url(images/showcase.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Overlay */
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
}

.showcase-container > h1 {
    font-weight: 600;
    font-size: 4rem;
}

.showcase-container > p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    color: #eee;
    border-bottom: 1.5px solid #fff;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 0.15rem;

}

/* SOBRE MIM */
.about-me-content {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.about-me-content > img {
    width: 320px;
    height: 320px;
    margin-right: 50px;
}

.about-me-content > p {
    color: #fff;
    line-height: 2rem;
}

/* HABILIDADES */
.skills-content {
    margin-top: 108px;
    display: flex;
    gap: 50px;
}

/* .skills-content .skill-item:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
} */

.skill-item {
    background-color: #202020;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-item > span {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 500;
} 

.skill-item > p {
    color: #fff;
    opacity: 75%;
}

/* PROJETOS */
.projects-content {
    margin-top: 118px;
}

/* .projects-content .project-item:nth-child(2),
.projects-content .project-item:nth-child(4)  {
    justify-content: flex-end;
    text-align: right;
}

.projects-content .project-item:nth-child(2) > .project-item-image,
.projects-content .project-item:nth-child(4) > .project-item-image {
    order: 2;
    margin-left: 50px;
}

.projects-content .project-item:nth-child(2) > .project-text,
.projects-content .project-item:nth-child(4) > .project-text {
    order: 1;
} */

.project-item:nth-child(even) {
    flex-direction: row-reverse;
}

.project-item:nth-child(even) .project-item-image {
    margin-left: 50px;
}

.project-item:nth-child(even) .project-text {
    text-align: right;
}

.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.project-item-image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-item-1 {
    background-image: url(images/project-1.jpg);
}

.project-item-2 {
    background-image: url(images/project-2.jpg);
}

.project-item-3 {
    background-image: url(images/project-3.jpg);
}

.project-item-4 {
    background-image: url(images/project-4.jpg);
}

.project-text {
    max-width: 600px;
    margin-left: 50px;
}

.project-item .project-text > p {
    color: #fff;
    opacity: 75%;
    line-height: 29px;
}

.project-item .project-text > h3 {
    color: #fff;
    font-weight: 500;
    font-size: 2.25rem;
}

/* FORMULÁRIO */
.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form .form-input {
    margin-bottom: 20px;
}


/* RODAPÉ */
.footer-container {
    width: 100%;
    background-color: #000;
    color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: space-between;
    padding: 50px;
}


.footer-container .social-items i {
    margin-right: 25px;
    transition: 0.8s;
}

.footer-container .social-items i:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: aqua;
}






/* UTILITARIOS */
.section-container {
    width: 100%;
    background-color: #111;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 1.5px solid #fff;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.form-input {
    border: none;
    border-radius: 10px;
    background-color: #202020;
    padding: 20px;
    color: rgba(255, 255, 255, 0.5);
    resize: none;
}

.form-button {
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    
}

.form-button:hover {
    cursor: pointer;
}

.form-input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
}





